VITE_FIREBASE_API_KEY="string-of-characters"
VITE_FIREBASE_AUTH_DOMAIN="string-of-characters"
VITE_FIREBASE_PROJECT_ID="string-of-characters"
VITE_FIREBASE_STORAGE_BUCKET="string-of-characters"
VITE_FIREBASE_MESSAGING_SENDER_ID="string-of-numbers"
VITE_FIREBASE_APP_ID="string-of-characters"
VITE_FIREBASE_MEASUREMENT_ID="string-of-characters"
